title = "Detail Stuff"
url = "/stuff/detail/:stuffId?*"
layout = "default"
is_hidden = 0
[inventory]
stuffId = "{{ :stuffId }}"
==
    use Inventory\Warehouse\Models\Stuff;
    use Inventory\Warehouse\Models\Category;
    use Inventory\Warehouse\Models\Denom;

    function onStart(){
        $this['stuff'] = Stuff::find($this->param('stuffId'));
        $this['categories'] = Category::all();
        $this['denoms'] = Denom::all();
    }
==
{%set log = inventory.getLogStuff()%}
{% set items = inventory.allWarehouse() %}
{% partial 'navigation' %}
<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Inventory Integration System</h1>
        <div class="section-header-breadcrumb">
          <div class="breadcrumb-item active"><a href="#">Stuff</a></div>
          <div class="breadcrumb-item">Edit</div>
        </div>
      </div>

      <div class="section-body">
        <h2 class="section-title">Create Module</h2>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                  {{ form_open({ request: 'onUpdateStuff' }) }}
                    <div class="card-body">
                        <div class="form-group">
                          <label>Name</label>
                          <input type="title" name="name" class="form-control" value="{{stuff.name}}">
                        </div>

                        <div class="form-group">
                          <label>Name</label>
                          <input type="title" name="code" class="form-control" value="{{stuff.code}}">
                        </div>

                        <div class="form-group">
                          <label>Description</label>
                          <textarea name="characteristic" id="" class="form-control">{{stuff.characteristic}}</textarea>
                        </div>

                        <div class="form-group">
                          <label>Warehouse : <b>{{stuff.warehouse.name}} - Current</b></label>
                            <select class="form-control" name="warehouse_id" required>
                                {%for i in items%}
                                    {% if i.id != stuff.warehouse.id%}
                                      <option value="{{i.id}}">{{i.name}}</option>
                                    {%endif%}
                                {%endfor%}
                            </select>
                        </div>

                        <div class="form-group">
                          <label>Select categories</label>
                          <div>
                            {%for i in categories%}
                              <input type="radio" name="category_id" value="{{i.id}}">
                              <label for="{{i.name}}">{{i.name}}</label><br><br>
                            {%endfor%}
                          </div>
                        </div>

                        <div class="form-group">
                          <label>Select Denom</label>
                          <select class="form-control" name="denom_id" required>
                              {%for i in denoms%}
                                  <option value="{{i.id}}">{{i.name}}</option>
                              {%endfor%}
                          </select>
                        </div>

                        <div class="form-group">
                          <label>Total Stock</label>
                          <input type="number" name="total" class="form-control" value="{{stuff.total}}">
                        </div>

                        {%if stuff.media.getPath()%}
                        <div class="form-group">
                            <label>Image </label>
                            <br>
                            <a target="_blank" href="{{stuff.media.getPath()}}">Click Here</a>
                        </div>
                        {%endif%}
                        <div>
                          <button type="submit" class="btn btn-info text-right">Update</button>

                          {{ form_close() }}
                          {{ form_open({ request: 'onDeleteStuff' }) }}
                          <input type="hidden" name="stuff_id" value="{{stuff.id}}">
                          <button type="submit" class="btn btn-danger text-right">Delete</button>
                          {{form_close()}}
                        </div>
                      </div>
                </div>
            </div>
            </div>

      </div>
    </section>
  </div>