title = "Update Stuff"
url = "/stuff/update/:stuffId?*"
layout = "default"
is_hidden = 0
[inventory]
stuffId = "{{ :stuffId }}"
==
    use Inventory\Warehouse\Models\Stuff;
    function onStart(){
        $this['stuff'] = Stuff::find($this->param('stuffId'));
    }
==
{%set log = inventory.getLogStuff()%}
{% set items = inventory.allWarehouse() %}
{% partial 'navigation' %}
<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Inventory Integration System</h1>
        <div class="section-header-breadcrumb">
          <div class="breadcrumb-item active"><a href="#">Stuff</a></div>
          <div class="breadcrumb-item">Edit</div>
        </div>
      </div>

      <div class="section-body">
        <h2 class="section-title">Create Module</h2>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                  {{ form_open({ request: 'onUpdateStuff' }) }}
                    <div class="card-body">
                        <div class="form-group">
                          <label>Name</label>
                          <input type="title" name="name" class="form-control" value="{{stuff.name}}">
                        </div>
                        <div class="form-group">
                          <label>Warehouse : <b>{{stuff.warehouse.name}} - Current</b></label>
                            <select class="form-control" name="warehouse_id" required>
                                {%for i in items%}
                                    {% if i.id != stuff.warehouse.id%}
                                      <option value="{{i.id}}">{{i.name}} {{i.capacity}} space</option>
                                    {%endif%}
                                {%endfor%}
                            </select>
                        </div>

                        {%if stuff.media.getPath()%}
                        <div class="form-group">
                            <label>Image </label>
                            <br>
                            <a target="_blank" href="{{stuff.media.getPath()}}">Click Here</a>
                        </div>
                        {%endif%}
                          <button type="submit" class="btn btn-primary text-right">Update</button>
                        {{ form_close() }}
                    </div>
                </div>
            </div>
            </div>

      </div>
    </section>
  </div>