description = "Default layout"

[session]
security = "all"

==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'head' %}

        {% styles %}
    </head>
    <body>

        {% page %}


        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            'vendor/popper.js/dist/umd/popper.min.js',

            'vendor/bootstrap/js/dist/util.js',
            'vendor/bootstrap/js/dist/alert.js',
            'vendor/bootstrap/js/dist/button.js',
            'vendor/bootstrap/js/dist/carousel.js',
            'vendor/bootstrap/js/dist/collapse.js',
            'vendor/bootstrap/js/dist/dropdown.js',
            'vendor/bootstrap/js/dist/modal.js',
            'vendor/bootstrap/js/dist/scrollspy.js',
            'vendor/bootstrap/js/dist/tab.js',
            'vendor/bootstrap/js/dist/tooltip.js',
            'vendor/bootstrap/js/dist/popover.js',

            'vendor/fastclick/lib/fastclick.js',
            'vendor/bootbox/bootbox.js',

            'assets/js/app.js']|theme }}"></script>

        {% scripts %}

    </body>
</html>
